body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #2D3E50;
    font-family: "Open Sans";
    color: white;
    font-weight: 800;
    letter-spacing: 0.1;
}

h2 {
    font-family: "Open Sans";
    color: white;
    text-transform: uppercase;
    font-size: 4.5em;
    letter-spacing: 2;
    margin: 0;
    position: relative;
    text-align: left;
    padding-left: .2em;
    z-index: 1;
}

h3 {
    font-family: "raleway";
    color: white;
    font-size: 0.8em;
    padding-top: 50.5em;
    margin: 0;
    position: relative;
    text-align: right;
    padding-right: 1.6em;  
}

h4 {
    font-family: "raleway";
    color: white;
    font-size: 1em;
    margin: 0;
    position: relative;
    text-align: right;
    padding-right: 3em;
    text-align: left;
    padding-left: 1em;
}



/*--------------------------*/

.lightbulb2 {
 padding-left: 8em;
 margin: 0;
 z-index: 1;
 position: absolute;
 top: -5;}

.balloon {
 left: 0;
 margin: 0;
 z-index: 1;
 position: absolute;
 top: 34;}

.calcium {
 left: 0;
 margin: 0;
 z-index: 1;
 position: absolute;
 top: 100;}

.paper {
    width: 40%;
    left: 90;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 75;}

.coins {
    width: 0%;
    left: 100;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 110;}

.scissors {
     width: 30%;
    left: 115;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 110;
}

.banana {
    width: 30%;
    left: 115;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 110;}


/*--------------------------*/

.container {
    background-color: #B13F73;
    float: right;
    width: 50%;
    height: 27%;
    margin-top: 2.5em;
}

.container {
    background-color: #5ECCB6;
    float: right;
    width: 50%;
    height: 27%;
    margin-top: 2.5em;
}

.container3 {
    background-color: #FF6F6F;
    float: right;
    width: 50%;
    height: 30%;
    margin-top: 2.5em;
}

.container4 {
    background-color: #BEC3C7;
    float: right;
    width: 50%;
    height: 34%;
    margin-top: 2.5em;
}

/*---------------------*/

.button {
    position: absolute;
    width: 10%;
    left: 2em;
    top: 41em;
    background-color: #B13F73;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
    border-radius: 2px;
}


.button2 {
    position: absolute;
    width: 10%;
    left: 2em;
    top: 41em;
    background-color: #5ECCB6;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
    border-radius: 2px;
}

.button3 {
    position: absolute;
    width: 10%;
    left: 2em;
    top: 41em;
    background-color: #FF6F6F;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
    border-radius: 2px;
}


.button4 {
    position: absolute;
    width: 10%;
    left: 2em;
    top: 41em;
    background-color: #BEC3C7;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
    border-radius: 2px;
}

/*--------------------------*/

.button:hover {
    background-color: #F5F2F1;
    color: #B13F73;
    border-radius: 6px;
}

.button2:hover {
    background-color: #F5F2F1;
    color: #5ECCB6;
    border-radius: 6px;
}

.button3:hover {
    background-color: #F5F2F1;
    color: #5ECCB6;
    border-radius: 6px;
}

.button4:hover {
    background-color: #F5F2F1;
    color: #E3A711;
    border-radius: 6px;
}






